h2, .actions {
    background: #B0C4DE;
}

.datepicker-container {        
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

mat-form-field {
    width: 100%;
}

.part-size {
    display: none;
}

@media (max-width: 900px) {
    .part-size {
        display: inline-block; 
    }

    .full-size { 
        display: none;
    }

    .datepicker-container {
        input {
            display: none;
        }
    }
}